.body {
  background-color: #d9c7c7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body section {
  background-color: rgba(247, 243, 243, 0.822);
  width: 40%;
  border-radius: 0.5em;
  padding: 20px 20px 20px 135px;
  margin: 50px;
}

.body section iframe{
  border: 5px solid white;
  margin: 10px 10px 30px 10px;
  box-shadow: 5px 5px 18px rgb(135, 128, 128) ;
  
  
}

.body section h1{
  margin-left: 100px;
    color: #935858;
}

.body section div{
  padding: 4 px;
}

.buttons {
  margin-top: 15px;
  padding: 10px 10px 10px 95px;
}

.adopt {
  width: 10em;
  height: 2.5em;
  border: 0;
  font-weight: bold;
  color: black;
  background-color: white;
  border-radius: 0.3em;
  cursor: pointer;
}

.adopt:hover {
  background-color:#0095f6;
  color: white;
}
